# comment
# alo /alo => git khong theo doi thu muc alo
alo

# bỏ qua tat ca file .log
*.log

# bo qua file abc.xyz nhung van giu myfile.xyz
# se chi bo qua cac file .xyz trong git repo
/*.xyz

# bo qua file abc.txt trong second_folder
# ubuntu su dung / la path separator, windows su dung \ hoac // la path separator
second_folder/abc.txt